# TODO: use ANDROID_HOME instead of hardcoded C:\Android\android-sdk
# TODO: use cache
# TODO: integrate crate publish

name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: windows-latest

    env:
      ANDROID_SDK_LEVEL: 32

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Test
      run: |
        cd lib
        cargo test

    - name: Build pc
      run: |
        cd pc
        cargo build --release

    - name: Build pcvr
      run: |
        cd pcvr
        cargo build --release

    - name: Prepare android
      run: |
        rustup target add aarch64-linux-android
        cargo install cargo-ndk
        C:\Android\android-sdk\cmdline-tools\latest\bin\sdkmanager --install "platforms;android-$Env:ANDROID_SDK_LEVEL"

    - name: Build android
      run: |
        cd android\build
        $Env:ANDROID_KEYSTORE = "$PWD\keystore"
        $Env:ANDROID_KEYSTORE_PW = "${{ secrets.ANDROID_KEYSTORE_PW }}"
        $Env:ANDROID_KEYALIAS = "${{ secrets.ANDROID_KEYALIAS }}"
        $Env:ANDROID_KEYALIAS_PW = "${{ secrets.ANDROID_KEYALIAS_PW }}"
        [System.Convert]::FromBase64String("${{ secrets.ANDROID_KEYSTORE }}") | Set-Content $Env:ANDROID_KEYSTORE -AsByteStream
        gradlew assembleRelease
        copy app\build\outputs\apk\release\app-release.apk rsaber_android.apk
        del $Env:ANDROID_KEYSTORE

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          target/release/rsaber_pc.exe
          target/release/rsaber_pcvr.exe
          android/build/rsaber_android.apk
